In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# 创建对象

###  使用传递的值列表序列来创建序列, 让 pandas 创建默认整数索引

In [2]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [3]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

### 使用传递的numpy数组创建数据帧,并使用日期索引和标记列:

In [4]:
dates = pd.date_range('20130101', periods=6)

In [5]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

In [7]:
df

                   A         B         C         D
2013-01-01  0.425798  2.441623  0.408869  0.202190
2013-01-02 -0.192784 -1.285850 -1.362157  0.838338
2013-01-03  0.270262  3.147888  2.126483 -0.466999
2013-01-04  0.215878 -0.369923 -0.237782  0.424608
2013-01-05 -1.554558  0.004914  0.335310  0.524749
2013-01-06  1.619542  0.269932  0.755817 -1.137117

### 使用传递的可转换序列的字典对象创建数据帧:

In [8]:
df2 = pd.DataFrame({
    'A': 1.,
    'B': pd.Timestamp('20130101'),
    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
    'D': np.array([3] * 4, dtype='int32'),
    'E': pd.Categorical(['test', 'train', 'test', 'train']),
    'F': 'foo'
})

In [9]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-01  1.0  3   test  foo
1  1.0 2013-01-01  1.0  3  train  foo
2  1.0 2013-01-01  1.0  3   test  foo
3  1.0 2013-01-01  1.0  3  train  foo

### 所有明确类型:

In [10]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

### 输出某个子集:

In [11]:
df2.E

0     test
1    train
2     test
3    train
Name: E, dtype: category
Categories (2, object): [test, train]

# 查看数据

### 查看帧顶部和底部的行:

In [12]:
df.head()

                   A         B         C         D
2013-01-01  0.425798  2.441623  0.408869  0.202190
2013-01-02 -0.192784 -1.285850 -1.362157  0.838338
2013-01-03  0.270262  3.147888  2.126483 -0.466999
2013-01-04  0.215878 -0.369923 -0.237782  0.424608
2013-01-05 -1.554558  0.004914  0.335310  0.524749

In [13]:
df.tail(3)

                   A         B         C         D
2013-01-04  0.215878 -0.369923 -0.237782  0.424608
2013-01-05 -1.554558  0.004914  0.335310  0.524749
2013-01-06  1.619542  0.269932  0.755817 -1.137117

### 显示索引, 列, 和底层的 numpy 数据:

In [14]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [15]:
df.columns

Index([u'A', u'B', u'C', u'D'], dtype='object')

In [16]:
df.values

array([[ 0.42579831,  2.4416229 ,  0.40886855,  0.20218995],
       [-0.19278402, -1.28585042, -1.3621569 ,  0.83833834],
       [ 0.27026165,  3.14788808,  2.1264831 , -0.46699882],
       [ 0.21587769, -0.36992343, -0.23778167,  0.42460784],
       [-1.55455815,  0.00491395,  0.33531015,  0.5247493 ],
       [ 1.61954158,  0.26993203,  0.75581745, -1.13711731]])

### 描述显示数据快速统计摘要:

In [17]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.130690  0.701431  0.337757  0.064295
std    1.027152  1.719409  1.148941  0.732894
min   -1.554558 -1.285850 -1.362157 -1.137117
25%   -0.090619 -0.276214 -0.094509 -0.299702
50%    0.243070  0.137423  0.372089  0.313399
75%    0.386914  1.898700  0.669080  0.499714
max    1.619542  3.147888  2.126483  0.838338

### 转置数据:

In [18]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    0.425798   -0.192784    0.270262    0.215878   -1.554558    1.619542
B    2.441623   -1.285850    3.147888   -0.369923    0.004914    0.269932
C    0.408869   -1.362157    2.126483   -0.237782    0.335310    0.755817
D    0.202190    0.838338   -0.466999    0.424608    0.524749   -1.137117

### 按轴排序:

In [19]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01  0.202190  0.408869  2.441623  0.425798
2013-01-02  0.838338 -1.362157 -1.285850 -0.192784
2013-01-03 -0.466999  2.126483  3.147888  0.270262
2013-01-04  0.424608 -0.237782 -0.369923  0.215878
2013-01-05  0.524749  0.335310  0.004914 -1.554558
2013-01-06 -1.137117  0.755817  0.269932  1.619542

### 按值排序:

In [20]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-02 -0.192784 -1.285850 -1.362157  0.838338
2013-01-04  0.215878 -0.369923 -0.237782  0.424608
2013-01-05 -1.554558  0.004914  0.335310  0.524749
2013-01-06  1.619542  0.269932  0.755817 -1.137117
2013-01-01  0.425798  2.441623  0.408869  0.202190
2013-01-03  0.270262  3.147888  2.126483 -0.466999

In [21]:
df.sort_values(by=['C', 'B'])

                   A         B         C         D
2013-01-02 -0.192784 -1.285850 -1.362157  0.838338
2013-01-04  0.215878 -0.369923 -0.237782  0.424608
2013-01-05 -1.554558  0.004914  0.335310  0.524749
2013-01-01  0.425798  2.441623  0.408869  0.202190
2013-01-06  1.619542  0.269932  0.755817 -1.137117
2013-01-03  0.270262  3.147888  2.126483 -0.466999